{% extends 'layout.html' %}

{% block title%}{% if title %}{{title}}{% else %}Search result{% endif %}{% endblock %}

{% block main %}
    <h2>{{title}}</h2>
    <h6>Show result by: {{request.GET.q}}</h6>
    <hr>
    {% if questions %}
        {% for question in questions %}
            {% include 'question/partials/question_list_item.html' %}
            <hr>
        {% endfor %}
        {% include 'partials/pagination.html' with page_url=paginate_url %}
    {% else %}
        <p>No result...</p>
    {% endif %}
{% endblock %}
