{% load form_tags %}

<div class="form-group">
    {% if field.is_hidden %}
        {{ field }}
    {% else %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>

        {{ field | add_class:'form-control'}}

        {% if field.help_text %}
            <small class="form-text text-muted">
                {{ field.help_text|safe }}
            </small>
        {% endif %}

        {% if field.errors %}
            <div class="text-danger">{{ field.errors }}</div>
        {% endif %}

    {% endif %}
</div>