{% extends 'layout.html' %}

{% block main %}
        <!-- Question - Main - Ask -->
        <div class="question-main-ask">
          <div class="row">
            <!-- logo block -->
            <div class="col-sm-2 mb-3">
              <div class="row">
                <!-- Avatar -->
                <div class="col-6 col-sm-12">
                  <img data-src="holder.js/100x100" class="rounded mx-auto d-block" alt="Avatar" style="width:100%; max-width: 150px;" data-holder-rendered="true" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22150%22%20height%3D%22150%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_163dabd8c9f%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_163dabd8c9f%22%3E%3Crect%20width%3D%22200%22%20height%3D%22200%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2274.4296875%22%20y%3D%22104.65%22%3E200x200%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E">
                </div>
                <!-- Votes -->
                <div class="col-6 col-sm-12 text-center my-4">
                  <a href="#"><i class="fas fa-chevron-up" title="Up vote"></i></a><br>
                  <b>5</b><br>
                  <a href="#"><i class="fas fa-chevron-down" title="Down vote"></i></a><br>
                </div>
              </div>
              <!-- /.row -->
            </div>
            <!-- Question -->
            <div class="col-sm-10">
              <h5><a href="#">Gena Pavlov</a></h5>
              <h4>How to build a moon park?</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae vel, magni! Harum eius incidunt culpa amet nesciunt aut ipsam totam, explicabo vitae qui, itaque rerum fugiat asperiores laudantium? Porro, dolore.</p>
              <p>Tags: <a href="#">black-jack</a> <a href="#">bender</a></p>

            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.question-main-ask -->

        <hr>

        <!-- Question - Main - Answers -->
        <div class="question-main-answers p-2">

          <div class="question-main-answer mb-3 p-3 border rounded">
            <div class="row">
              <!-- logo block -->
              <div class="col-sm-2 mb-2">
                <div class="row">
                  <!-- Avatar -->
                  <div class="col-6 col-sm-12">
                    <img data-src="holder.js/100x100" class="rounded mx-auto d-block" alt="Avatar" style="width:100%; max-width: 100px;" data-holder-rendered="true" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22150%22%20height%3D%22150%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_163dabd8c9f%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_163dabd8c9f%22%3E%3Crect%20width%3D%22200%22%20height%3D%22200%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2274.4296875%22%20y%3D%22104.65%22%3E200x200%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E">
                  </div>
                  <!-- Votes -->
                  <div class="col-6 col-sm-12 text-center my-4">
                    <a href="#"><i class="fas fa-chevron-up" title="Up vote"></i></a><br>
                    <b>2</b><br>
                    <a href="#"><i class="fas fa-chevron-down" title="Down vote"></i></a><br>
                  </div>
                </div>
                <!-- /.row -->
              </div>
              <!-- answer -->
              <div class="col-sm-10">
                <h5><a href="#">Valera</a></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa in, facere deserunt nostrum eum, rem blanditiis quas repudiandae soluta deleniti accusantium autem. Laboriosam quas nesciunt quisquam aut eius temporibus placeat aperiam exercitationem enim! Corrupti corporis laborum, voluptas, illo minima asperiores.</p>
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.question-main-answer -->

          <div class="question-main-answer mb-3 p-3 border rounded">
            <div class="row">
              <!-- logo block -->
              <div class="col-sm-2 mb-2">
                <div class="row">
                  <!-- Avatar -->
                  <div class="col-6 col-sm-12">
                    <img data-src="holder.js/100x100" class="rounded mx-auto d-block" alt="Avatar" style="width:100%; max-width: 100px;" data-holder-rendered="true" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22150%22%20height%3D%22150%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_163dabd8c9f%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_163dabd8c9f%22%3E%3Crect%20width%3D%22200%22%20height%3D%22200%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2274.4296875%22%20y%3D%22104.65%22%3E200x200%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E">
                  </div>
                  <!-- Votes -->
                  <div class="col-6 col-sm-12 text-center my-4">
                    <a href="#"><i class="fas fa-chevron-up" title="Up vote"></i></a><br>
                    <b>10</b><br>
                    <a href="#"><i class="fas fa-chevron-down" title="Down vote"></i></a><br>
                  </div>
                </div>
                <!-- /.row -->
              </div>
              <!-- answer -->
              <div class="col-sm-10">
                <h5><a href="#">Filip Gaze</a></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa in, facere deserunt nostrum eum, rem blanditiis quas repudiandae soluta deleniti accusantium autem. Laboriosam quas nesciunt quisquam aut eius temporibus placeat aperiam exercitationem enim! Corrupti corporis laborum, voluptas, illo minima asperiores.</p>
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.question-main-answer -->

        </div>
        <!-- /.question-main-answers -->



        <hr>
        <form method="post">
          <div class="form-group">
            <textarea class="form-control" name="comment" placeholder="Enter your answer here..."></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Answer</button>
        </form>
{% endblock %}